/*all tag*/
*{margin:0;padding: 0;border:none;font-size:1.5625vw;font-family: 'Microsoft Yahei', Helvetica, Arial, sans-serif;}
html,body{height:100%;overflow:hidden;font-size:16px;}
.hidden{display: none;}
.show{display:block;}
.pos{position: absolute;height:100%;width:100%;top:0;right:0;bottom:0;left: 0;padding-top:220px;color:#fff; text-align:center; }
/*music*/
.music{position: fixed;top:3vh;right:4vw;z-index:5;width: 15vw;height:15vw;border:4px solid #ef1639;border-radius:50%;background-color: #fff;}
.music >img:first-of-type{position: absolute;z-index:1;top:24%;right:2.5%;width:28.421%;}
.music >img:last-of-type{position: absolute;z-index:0;top:0;right:0;bottom:0;left:0;margin: auto;width:79%;}
.music >img.play{
	-webkit-animation:music_disc 4s linear infinite;
			animation:music_disc 4s linear infinite;
}
@keyframes music_disc{
	0%{
		-webkit-transform:rotate(0deg);
				transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(360deg);
				transform:rotate(360deg);
	}
}
@-webkit-keyframes music_disc{
	0%{
		-webkit-transform:rotate(0deg);
				transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(360deg);
				transform:rotate(360deg);
	}
}

/*倒计时*/
#countdown{font-size:2.0rem; color:yellow;}
/*page bg*/
.page{height:100%;width:100%;position: absolute;}
.page > .bg{position: absolute;height: 100%;width:100%;z-index:-1;}

/*page 1*/
#page1{display: block;}
#page1 > .bg{background: #fff /*url('../images/p1_bg.jpg')*/ no-repeat center center;background-size:100%;}
#page1 >.p1_lantern{color:#fff;position: absolute;top:-20px;right:0;left: 0;margin:auto;background: url('../images/p1_lantern.png') no-repeat center top;background-size: 100%;width:10rem;height: 35rem;font-size: 0;padding-top:31vh;text-align:center;-webkit-box-sizing:border-box;   -moz-box-sizing:border-box;    -ms-box-sizing:border-box;     -o-box-sizing:border-box;        box-sizing:border-box;}
#page1 >.p1_lantern:before{position: absolute;top:-25%;right:0;bottom:0;left: 0;content: '';z-index: -1;margin:auto;width:8rem;height:8rem;border-radius:50%;background-color: #d60b3b;opacity: .5-webkit-box-shadow: 0 0 3rem 2rem #d60b3b;   -moz-box-shadow: 0 0 3rem 2rem #d60b3b;    -ms-box-shadow: 0 0 3rem 2rem #d60b3b;     -o-box-shadow: 0 0 3rem 2rem #d60b3b;        box-shadow: 0 0 3rem 2rem #d60b3b;
	-webkit-animation: p1_lantern .5s infinite alternate;
			animation: p1_lantern .5s infinite  alternate;
}
#page1 >.p1_lantern .lushang{font-size: 1.0rem;}
@keyframes  p1_lantern{
	0%{
		opacity: .5;
		-webkit-transform:scale(.8,.8);
				transform:scale(.8,.8);
	}
	100%{opacity:1;}
}
@-webkit-keyframes  p1_lantern{
	0%{
		opacity: .5;
		-webkit-transform:scale(.8,.8);
				transform:scale(.8,.8);
	}
	100%{opacity:1;}
}
#page1 > .p1_imooc{position: absolute;right: 0;bottom: 9vh;left: 0;background: url('../images/p1_imooc.png') no-repeat center center;background-size: 100%;width: 23vw;height: 23vw;margin:auto;
	-webkit-animation:p3_blessing 3s linear infinite;
	animation:p3_blessing 3s linear infinite;
}
#page1 >.p1_words{font-size: 1.2rem;position: absolute;right: 0;bottom: 2vh;left:0;text-align:center;color:#231815;}

/*page 2*/
#page2{display: none;
	-webkit-transition:.5s;
	transition:.5s;
}
#page2.fadeOut{
	opacity: .3;
	-webkit-transform:translate(0,-100%);
	transform:translate(0,-100%);
}
#page2 >.p2_bg_loading{
	z-index: 4;background: #ef1639;
	-webkit-animation: p2_bg_loading 1s linear forwards;
	animation: p2_bg_loading 1s linear forwards;
}
@-webkit-keyframes p2_bg_loading{
	0%	{opacity: 1;}
	100%{opacity: 0;}
}
@keyframes p2_bg_loading{
	0%	{opacity: 1;}
	100%{opacity: 0;}
}

#page2 > .bg{background: url('../images/p2_bg.jpg') no-repeat center center;background-size:100%;}
#page2 > .bgnew0{background-image: url('../images/guide_0.png');}
#page2 > .bgnew1{background-image: url('../images/fengbg.png');}
#page2 > .bgnew2{background-image: url('../images/guide_3.png');}
#page2 > .bgnew3{background-image: url('../images/guide_1.png');}
#page2 > .bgnew4{background-image: url('../images/guide_2.png');}
#page2 > .bgnew5{background-image: url('../images/hezuo.png');}
#page2 > .bgnew6{background-image: url('../images/fengqu.png');}
#page2.bg-black{background-color: #231815}
#page2.bg-transparent{background-color: transparent}
#page2.bg-transparent7{background-color: rgba(0,0,0,0.7)}
#page2.bg-transparent8{background-color: rgba(0,0,0,0.8)}



#page2 >.p2_circle{position: absolute;top:0;right: 0;bottom: 0;left: 0;background: url('../images/p2_circle_outer.png') no-repeat center center;background-size: 100%;width: 59.375vw;height: 59.375vw;margin:auto;border-radius: 50%;
	-webkit-animation:p2_circle_outer 1s linear 3s infinite;
			animation:p2_circle_outer 1s linear 3s infinite;
}
@-webkit-keyframes p2_circle_outer{
	0%{
		-webkit-transform:rotate(0deg);
				transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(-360deg);
				transform:rotate(-360deg);
	}
}
@keyframes p2_circle_outer{
	0%{
		-webkit-transform:rotate(0deg);
				transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(-360deg);
				transform:rotate(-360deg);
	}
}
#page2 >.p2_circle:before{position: absolute;top:0;right: 0;bottom: 0;left: 0;background: url('../images/p2_circle_middle.png') no-repeat center center;background-size: 100%;width: 45.625vw;height: 45.625vw;margin:auto;border-radius: 50%;content:'';
-webkit-animation:p2_circle_middle 1s linear 2s infinite;
			animation:p2_circle_middle 1s linear 2s infinite;
}
@-webkit-keyframes p2_circle_middle{
	0%{
		-webkit-transform:rotate(0deg);
				transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(720deg);
				transform:rotate(720deg);
	}
}
@keyframes p2_circle_middle{
	0%{
		-webkit-transform:rotate(0deg);
				transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(720deg);
				transform:rotate(720deg);
	}
}
#page2 >.p2_circle:after{position: absolute;top:0;right: 0;bottom: 0;left: 0;background: url('../images/p2_circle_inner.png') no-repeat center center;background-size: 100%;width: 39.9375vw;height: 39.9375vw;margin:auto;border-radius: 50%;content:'';
	-webkit-animation:p2_circle_inner 1s linear 1s infinite;
			animation:p2_circle_inner 1s linear 1s infinite;
}
@-webkit-keyframes p2_circle_inner{
	0%{
		-webkit-transform:rotate(0deg);
				transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(-1080deg);
				transform:rotate(-1080deg);
	}
}
@keyframes p2_circle_inner{
	0%{
		-webkit-transform:rotate(0deg);
				transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(-1080deg);
				transform:rotate(-1080deg);
	}
}
#page2 >.p2_2016{position: absolute;top:0;right: 0;bottom: 0;left: 0;background: url('../images/p2_2016.png') no-repeat center center;background-size: 100%; width: 43.5vw; height: 35.24vh;margin:auto;}

#page2 >.feng{position: absolute;top:0;right: 0;bottom: 0;left: 0;
	z-index: 3; margin:auto;}

#page2 >.feng .img{
	text-align: center;
}

#page2 >.feng .img img{
	width: 80%;
	height: 50%;
	border-radius: 50%;
	margin-top: 40%;
}
/*文字特性*/
#page2 .merita, .merit1, .desc1, .merit2, .desc2, .merit3, .desc3, .merit4, .desc4, .merit5, .desc5,.merit6, .desc6{font-size:40px;text-shadow:1px 1px rgba(228, 228, 185,0.4),2px 2px rgba(228, 228, 185,0.3),3px 3px rgba(228, 228, 185,0.2);}
/*#page2 .merit1{font-size:34px; }
#page2 .desc1{font-size:34px; }
#page2 .merit2{font-size:34px; }
#page2 .desc2{font-size:34px; }
#page2 .merit3{font-size:34px; }
#page2 .desc3{font-size:34px; }
#page2 .merit4{font-size:34px; }
#page2 .desc4{font-size:34px; }
#page2 .merit5{font-size:34px; }
#page2 .desc5{font-size:34px; }
#page2 .merit6{font-size:34px; }
#page2 .desc6{font-size:34px; }*/

/*page 3*/
#page3{display: none;
	-webkit-transition:.5s;
	transition:.5s;
}
#page3.fadeIn{
	-webkit-transform:translate(0,-100%);
			transform:translate(0,-100%);
}
#page3 > .bg{background: url('../images/p3_bg.jpg') no-repeat center center;background-size:100%;}
#page3 > .p3_logo{width: 31.6875vw;height: 17.327vh;position: absolute;top:7.82vh;right: 0;left: 0;margin:auto;background: url('../images/download.gif') no-repeat center center;background-size:100%;    border-radius: 16vw;}
#page3 > .p3_title{width: 95.125vw;height: 63vh;position: absolute;top:21vh;right: 0;left: 0;margin:auto;background: url('../images/p3_title.png') no-repeat center center;background-size:100%;}
#page3 > .p3_second{display:none;width: 22.8125vw;height: 41.652vh;position: absolute;top:25.48vh;left: 3.75vw;background: url('../images/p3_couplet_second.png') no-repeat center center;background-size:100%;}
#page3 > .p3_first{display:none;width: 22.8125vw;height: 41.652vh;position: absolute;top:25.48vh;right: 3.75vw;background: url('../images/p3_couplet_first.png') no-repeat center center;background-size:100%;}
#page3 > .p3_blessing{width: 32vw;height: 32vw;position: absolute;right:0;bottom:3vh;left: 0;margin:auto;border-radius:50%;background: url('../images/1.png') no-repeat center center;background-size:100%;
	-webkit-animation:p3_blessing 2s linear infinite;
			animation:p3_blessing 2s linear infinite;
}
@-webkit-keyframes p3_blessing{
	0%{
		-webkit-transform:rotate(0deg);
				transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(360deg);
				transform:rotate(360deg);
	}
}
@keyframes p3_blessing{
	0%{
		-webkit-transform:rotate(0deg);
				transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(360deg);
				transform:rotate(360deg);
	}
}